@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cerabold;
  src: url(./assets/CeraBold.woff)
    format("woff");
}

@font-face {
  font-family: cerareg;
  src: url(./assets/CeraRegular.woff)
    format("woff");
}

body {
  margin: 0;
  font-family: "cerareg";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-slide {
  filter: blur(4px);
}

.swiper-slide-active {
  filter: blur(0);
}
.img-slider {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 76%,
    transparent 96%
  );
}
